# Folders
bin/*
conf/*
logs/*
modules/*
work/*
.settings/*


# Files
.classpath
.project
lib/prometheus-core.jar
!bin/.gitkeep
!conf/.gitkeep
!conf/connection.ini.mysql
!lib/.gitkeep
!logs/.gitkeep
!modules/.gitkeep
!work/.gitkeep
/bin/
